{% if authors|length %}
    <div class="book-page-nav">
        {% set prevPage = app.request.get('page') - 1 %}
        {% set nextPage = app.request.get('page')|default(1) + 1 %}

        <span data-authors-target="nav">
            <a href="{{ path('app_crud_author_page', {'page': 1, '_format': 'html' }) }}" data-action="authors#first"
               data-authors-target="first" data-page="1">&lArr; First</a> |
            <a href="{{ path('app_crud_author_page', {'page': prevPage, '_format': 'html' }) }}"
               data-action="authors#prev" data-authors-target="prev" data-page="{{ prevPage }}">&larr; Previous</a> |
        </span>

        <a href="{{ path('app_crud_author_page', {'page': nextPage, '_format': 'html' }) }}"
           data-action="authors#next" data-authors-target="next" data-page="{{ nextPage }}">Next &rarr;</a>
    </div>

    {% for author in authors %}

        <div class="book-info">
            <div class="book-image">
                <img src="{{ asset('/images/user.png') }}" width="100" alt="{{ author.fullName }}">
            </div>

            <div>
                <div class="book-name">{{ author.fullName }}</div>
                <ul>
                    {% for book in author.books[1:3] %}
                        <li><a href="{{ path('app_crud_book_show', {'id': book.id }) }}">{{ book.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

{% else %}
    No authors found
{% endif %}