{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Today`s Best Sellers'|trans }}</h1>

    <div class="row">
        {% for edition in bestSellers %}
            <div class="book-info col">
                <div class="book-image">
                    <a href="{{ path('app_crud_book_show', {'id': edition.book.id }) }}">
                        {# для картинок книг рендеримо веб-шлях на спеціальний контролер екшен, що генерує картинку на льоту #}
                        <img src="{{ path('app_random_image') }}?width=60&height=105&{{ random(0, 100) }}"
                             alt="{{ edition.book.name(app.request.locale) }}">
                    </a>
                </div>

                <div class="ms-1">
                    <div class="book-name">{{ edition.book.name(app.request.locale) }}</div>
                    <div>By {{ edition.book.author.fullName }}</div>
                    <div>{{ edition.book.isbn10|isbn10 }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}