{% extends 'base.html.twig' %}

{% block body %}
    {# ################################################################################# #}
    <h1>SQL-ін'єкція</h1>

    <form class="row">
        <label for="bookName" class="col-1 col-form-label">Book name</label>
        <div class="col-2">
            <input type="text" id="bookName" required="required" class="form-control" placeholder="Search by book name">
        </div>
        <div class="col-1">
            <button id="bookSearch" type="button" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div id="bookList"></div>

    <script>
        document.getElementById('bookSearch').onclick = function () {
            fetch('{{ path('app_webattacks_search') }}?bookName=' + encodeURIComponent(document.getElementById('bookName').value))
                .then(response => response.text())
                .then(function (html) {
                    document.getElementById('bookList').innerHTML = html;
                });
        }
    </script>

    {# ################################################################################# #}
    <h1 class="mt-5">XSS</h1>

    {{ form_start(xssVulnerableForm, {attr: {class: "col-3"}}) }}
        {{ form_row(xssVulnerableForm.name) }}
        {{ form_row(xssVulnerableForm.age) }}
        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(xssVulnerableForm) }}

    <div class="mt-3">
        <code>
            {% for client in clients %}
                {{ client|join(' ') }}<br> {# не виводити сирі неекрановані дані #}
            {% endfor %}
        </code>
    </div>

    {# ################################################################################# #}
    <h1 class="mt-5">CSRF</h1>

    <h3>1. Вразливість через GET метод</h3>
    <h5>Нормальна дія переказу грошей на нашому сайті</h5>

    {# додано геренацію захисного токену - csrf_token() #}
    <a href="{{ url('app_webattacks_sendmoney', { 'amount': 1000, 'address': '253f57efe08cc', '_token': csrf_token('send-money') }) }}" class="btn btn-light">
        Send money to <i>253f57efe08cc</i> wallet
    </a>

    <h5 class="mt-2">Посилання у вигляді картинки чи "кнопки" на сайті зловмисника чи в email</h5>

    <a href="{{ url('app_webattacks_sendmoney', { 'amount': 1000, 'address': 'VV98G7uYkj8CENKC5Ka' }) }}" class="btn btn-danger">
        View new messages
    </a>

    <h3 class="mt-3">2. Вразливість через POST метод</h3>
    <h5>Форма переказу грошей на нашому сайті</h5>
    {{ form_start(csrfVulnerableForm, {attr: {class: "col-3"}}) }}
    {{ form_row(csrfVulnerableForm.amount) }}
    {{ form_row(csrfVulnerableForm.address) }}
    <button type="submit" class="btn btn-primary">Send</button>
    {{ form_end(csrfVulnerableForm) }}

    <h5 class="mt-3">Форма на сайті зловмисника</h5>
    <form class="mb-3 col-3" name="send_money" method="post" action="http://localhost/send-money-form">
        <div class="mb-1"><label for="csrf_attack_name" class="required form-label">Name</label>
            <input type="text" id="csrf_attack_name" name="csrf_attack[name]" required="required" class="form-control"></div>
        <div class="mb-3"><label for="csrf_attack_age" class="required  form-label">Age</label>
            <input type="number" id="csrf_attack_age" name="csrf_attack[age]" required="required" class="form-control"></div>
        <input type="hidden" id="send_money_amount" name="send_money[amount]" value="30000">
        <input type="hidden" id="send_money_address" name="send_money[address]" value="27d7ab68e0d66457fed2ead821b30473">
        <button type="submit" class="btn btn-danger">Send</button>
    </form>

{% endblock %}