{% extends 'base.html.twig' %}


{% block body %}
    <div class="login">
        <h2>Log in to your account</h2>

        <div class="mb-4 text-secondary">
            Don't have an account? <a href="{{ path('app_register') }}">Sign up</a><br>
        </div>

        <form action="{{ path('app_login') }}" method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>
            <div class="text-secondary mb-3 ms-0">
                <a href="{{ path('app_forgot_password_request') }}">I forgot my password</a>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>

    </div>
{% endblock %}