{# Macro (макрос) - це окремий фрагмент шаблону, якій викликається в інших шаблонах, як функція.
В макрос виносять рендерінг якихось даних, які потрібно виводити більш ніж в одному місці інтерфейсу.
Це приклад застосування принципу DRY (не повторюй себе, не дублюй свій код!) #}

{# макрос book_info приймає об'єкт книги як аргумент, щоб відобразити її інформацію #}
{% macro book_info(book, edition) %}
    <div class="book-info">
        <div class="book-image">
            <img src="{{ path('app_random_image') }}?width=100&height=175&{{ random(0, 100) }}" alt="{{ book.name }}">
        </div>

        <div class="ms-1">
            <div class="book-name">
                {% set book_name = book.name(app.request.locale) %}
                {% if app.current_route != 'app_crud_book_show' %}
                    <a href="{{ path('app_crud_book_show', {'id': book.id }) }}" class="link-secondary"
                       data-toggle="tooltip" title="Book details">{{ book.name(app.request.locale) }}</a>
                {% else %}
                    {{ book_name }}
                {% endif %}
            </div>
            <div class="book-author">By {{ book.author.fullName }}</div>

            {% if edition.published|default(false) %}
                <div><span class="badge bg-success">{{ 'published'|trans }}</span></div>
            {% endif %}

            {% if edition %}
                <span class="book-label">{{ 'Publisher'|trans }}</span>{{ edition.publisherName }}<br>
                <span class="book-label">ISBN</span>{{ edition.isbn10|isbn10 }}<br>
            {% endif %}
            <span class="book-label">{{ 'book.type'|trans }}</span>{{ book.type|trans }}<br>
            <span class="book-label">{{ 'book.genres'|trans }}</span>{{ book.genres|column('value')|map(g => g|trans)|join(', ')|default('n/a') }}<br>

            {% if book.synopsis is defined and not edition %}
                <span class="book-label">{{ 'book.synopsis'|trans }}</span>{{ book.synopsis }}<br>
            {% endif %}

        </div>
    </div>
{% endmacro %}

{% macro book_actions(book) %}
    <div class="book-actions">
       <a href="{{ path('app_crud_book_update', {'id': book.id }) }}">{{ 'Edit'|trans }}</a>
        | <a href="{{ path('app_crud_book_delete', {'id': book.id }) }}"
             onclick="return confirm('{{ 'Delete book %name%?'|trans({ '%name%': book.name(app.request.locale)}) }}')">{{ 'Delete'|trans }}</a>
    </div>
{% endmacro %}