{# Macro (макрос) - це окремий фрагмент шаблону, якій викликається в інших шаблонах, як функція.
В макрос виносять рендерінг якихось даних, які потрібно виводити більш ніж в одному місці інтерфейсу.
Це приклад застосування принципу DRY (не повторюй себе, не дублюй свій код!) #}

{# макрос book_info приймає об'єкт книги як аргумент, щоб відобразити її інформацію #}
{% macro book_info(book) %}
    <div class="book-info">
        <div class="book-image">
            <img src="{{ path('app_random_image') }}?width=100&height=150&{{ random(0, 100) }}" alt="{{ book.name }}">
        </div>

        <div>
            <div class="book-name">{{ book.name }}</div>
            <div class="book-author">By {{ book.author.fullName }}</div>

            <span class="book-label">Type</span>{{ book.type }}<br>
            <span class="book-label">ISBN-10</span>{{ book.isbn10|isbn10 }}<br>
            <span class="book-label">Genres</span>{{ book.genres|column('value')|join(', ')|default('n/a') }}<br>

            {% if book.synopsis is defined %}
                <span class="book-label">Synopsis</span>{{ book.synopsis }}<br>
            {% endif %}
        </div>
    </div>
{% endmacro %}