{% extends 'base.html.twig' %}

 {% block body %}
     <h1>{{ 'Book list'|trans }}</h1>

     <div class="book-page-nav">
         {% if app.request.get('page') > 1 %}
             <a href="{{ path('app_crud_book_index', {'page': 1 }) }}">&lArr; First</a>
             | <a href="{{ path('app_crud_book_index', {'page': app.request.get('page') - 1 }) }}">&larr; Previous</a> |
         {% endif %}

         <a href="{{ path('app_crud_book_index', {'page': app.request.get('page', 1) + 1 }) }}">Next &rarr;</a>
     </div>


     {% if books|length %}
         {# імпортування макросу book_info #}
         {% from "crud/books/_macros.html.twig" import book_info %}

         {% for book in books %}
             {# використання макросу book_info - рендерінг інформації про книгу #}

             {{ book_info(book) }}

             <div class="book-actions">
                 <a href="{{ path('app_crud_book_show', {'id': book.id }) }}">Show</a>
                 | <a href="{{ path('app_crud_book_update', {'id': book.id }) }}">Edit</a>
                 | <a href="{{ path('app_crud_book_delete', {'id': book.id }) }}"
                      onclick="return confirm('Delete book {{ book.name }}?')">Delete</a>
             </div>
         {% endfor %}

     {% else %}
         No books found
     {% endif %}

 {% endblock %}