{% extends 'base.html.twig' %}

{% block body %}
    <div class="book-info">
        <div class="book-image">
            <img src="{{ path('app_random_image') }}?width=100&height=150&{{ random(0, 100) }}" alt="{{ book.name }}">
        </div>

        <div>
            <div>
                <div class="book-name">{{ book.name }}</div>
                <div class="book-author">By {{ book.author.fullName }}</div>
            </div>
            <span class="book-label">Type</span>{{ book.type }}<br>
            <span class="book-label">ISBN-10</span>{{ book.isbn10|isbn10 }}<br>
            <span class="book-label">Genres</span>{{ book.genres|column('value')|join(', ') }}<br>

            {% if book.synopsis is defined %}
                <span class="book-label">Synopsis</span>{{ book.synopsis }}<br>
            {% endif %}
        </div>
    </div>

    <h3>Book text</h3>
    <p>{{ book.text }}</p>

{% endblock %}

