{% extends 'base.html.twig' %}

 {% block body %}

     <h1>{{ 'Edition list'|trans }}</h1>

     <div class="book-page-nav">
         {% if app.request.get('page') > 1 %}
             <a href="{{ path('app_crud_edition_index', {'page': 1 }) }}">&lArr; {{ 'First'|trans }}</a>
             | <a href="{{ path('app_crud_edition_index', {'page': app.request.get('page') - 1 }) }}">&larr;
         {{ 'Previous'|trans }}</a>
            {% if editions|length %}|{% endif %}
         {% endif %}

         {% if editions|length %}
             <a href="{{ path('app_crud_edition_index', {'page': app.request.get('page', 1) + 1 }) }}">{{ 'Next'|trans }} &rarr;</a>
         {% endif %}
     </div>


     {% if editions|length %}
         {# імпортування макросу book_info #}
         {% from "crud/books/_macros.html.twig" import book_info %}

         {% for edition in editions %}
             {# використання макросу book_info - рендерінг інформації про книгу #}
             {{ book_info(edition.book, edition) }}

             <div class="book-actions">
                 <a class="btn btn-light btn-sm" href="{{ path('app_edition_print', {'id': edition.id, 'format': 'advanced' }) }}">{{ 'Print'|trans }}</a>
                 <a class="btn  btn-light btn-sm" href="{{ path('app_edition_print', {'id': edition.id, 'format': 'html' }) }}">{{ 'Print HTML'|trans }}</a>

                 {% if not edition.published %}
                     <a class="btn btn-warning btn-sm" href="{{ path('app_edition_published', {'id': edition.id }) }}">{{ 'Publish'|trans }}</a>
                 {% endif %}
             </div>

         {% endfor %}

     {% else %}
        {{ 'No editions found'|trans }}
     {% endif %}

 {% endblock %}